body{
    overflow-x: hidden;
}
.Home > .producthead{
    font-family: sans-serif;
    text-align: center;
    margin: 70px;
}
.Home > .producthead h1{
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
    color: #090727;
}
.Home > .producthead p{
    font-size: 20;
    font-weight: 600;
    font-family: sans-serif;

}
.productscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    width: 100%;
}